fastapi[all]
sqlalchemy
oracledb
pydantic
pydantic-settings
python-multipart
aiofiles
rapidfuzz
numpy
faiss-cpu
sentence-transformers
Pillow
pypdfium2
docling-core
docling-ibm-models
huggingface-hub
torch
easyocr
rapidocr
scipy
rtree
filetype
requests
tqdm
uvicorn[standard]
pluggy